.shinyText {
    color: #d0d0d0a4; 
    background: linear-gradient(
      120deg,
      rgba(216, 211, 211, 0) 40%,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
    font-size: 20px;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  
  .shinyText.disabled {
    animation: none;
  }
  