:root {
  --primaryColor : #010226;
}

* {
  /* font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: "geistSansFont", Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, arial;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: var(--primaryColor);
  color: white;
}

