:root {
  --primaryColor : #2280C4;
}

*{
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: azure;
}

