.menuContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding: 0;
    width: auto;
    max-width: 600px;
  
    li {
      list-style-type: none;
      margin: 20px;
      
      a {
        text-decoration: none;
        color: #4ade80;
        font-weight: normal;
      }
      
      p {
        color: #4ade80;
        font-weight: bold;
      }
      
      span {
        color: yellow;
        font-weight: normal;
      }
    }
  }
  
  @media (max-width: 768px) {
    .menu {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .menuContainer {
      justify-content: center;
    }
  
    .menu {
      font-size: 14px;
      flex-wrap: wrap;
      justify-content: center;
      
      li {
        flex-basis: auto;
        text-align: center;
        margin: 0 10px 10px 10px;
      }
    }
  }