.TechStack {
    margin-top: 2rem;
  }
  
  .TechIcons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .tooltipContainer {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tooltipContainer:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  