@import '../index.module.scss';

.projectsContainer {
  background-color: var(--secondaryColor);
  color: #ffffff;
  padding: 2rem;
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.projectCard {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.projectTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.projectDescription {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #dddddd;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.techIcon {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  font-size: 0.8rem;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectImageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.projectImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seeMore {
  color: #4ade80;
  text-decoration: none;
  font-weight: bold;
  transition: text-decoration 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.noData {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff5555;
}
